.clear-offset {
    width: 100%;
    height: 30px;
}

.heading-correction-section {
	background-color: #bb362d !important;
    opacity: 0.8;

	position: absolute;
	width: 100%;

	height: 5px;
	margin-top:-5px;
}

.main-heading {
    width: 100%;
/*     padding: 100px; */

/*     margin-top:20px; */
/*     margin-bottom: 20px; */
      	
    background-size: cover;
    background-position: center center;

  	font-weight:lighter;
  	font-size:150%;
}

.main-heading h1 {
    z-index: 20;

    position: absolute;

    left: 30%;
    width: 40%;

    margin-top: 8%;

	padding:15px;

    text-align: right;
    color: white;

	border-right: solid;
	border-bottom: solid;
  	border-color: white;
  	border-width: 8px;
}

.main-heading .main-heading-overlay {
    padding: 150px;
    height: 100%;
	width: 100%;

    background-color: #bb362d !important;
    opacity: 0.8;
}

.main-heading .main-heading-image {
    height: 100%;
	width: 100%;
}

.secondary-heading {
	width: 100%;
	padding: 50px;

    background-color:white;
    background-size: cover;
    background-position: center center;

  	font-weight:lighter;
  	font-size:120%;
}

.secondary-heading h1 {
	color: #345182;

	border-bottom: solid;
  	border-color: #345182;
  	border-width: 6px;

  	padding:8px;

	text-align: center;
	margin: auto;

	width: 60%;
}

.tertiary-heading {
	width: 100%;
	background-color: white;
	margin: 0;
	padding-bottom: 20px;
}

.tertiary-heading h1 {
	margin: 0;
	text-align: center;
	font-size: 190%;
}

.tertiary-heading h2 {
	margin: auto;
	width: 90%;
}

.tertiary-heading p {
	margin: auto;
	text-align: left;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 115%;
}

.tertiary-heading h2 p {
	font-weight:normal;
	font-size: medium;
}

.tertiary-heading ul {
	margin-left: 40px;
}

.tertiary-heading ul li {
	padding: 0;
	margin: auto;
}

.heading-content {
	width: 100%;
	padding: 20px;
	background: url(../images/header/hr_down.png) center bottom no-repeat;
	background-color: white;
}

.heading-content p {
	color: #345182;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 120%;
}

.heading-content ul {
	color: #345182;

	margin-left: 10%;
    margin-right: 10%;
    padding: 0;

	list-style-type: none;

	display: table;
}

.heading-content ul li {
	transition: all 0.5s ease;
	
	display: inline-flex;
	padding: 5px;

	margin-right: 5px;
	margin-bottom: 5px;
	
	font-weight: bold;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.heading-content ul li a {
	color: #345182;
}

.heading-content ul li:hover {
	box-shadow: 16px 16px 16px 0 rgba(0, 0, 0, 0.3), 0 7px 7px 0 rgba(0, 0, 0, 0.19);
}

.heading-content ul li:first {
/* 	padding */
}

.two-block-content {
	width: 100%;
	padding: 40px;
	padding-top: 0;
	padding-bottom: 30px;

	background-color: white;
}

.two-block-content .block {
  	transition: all 0.5s ease;

	background-color: white;
	background-size: cover;
    background-position: center center;

	display: inline-block;
/* 	float: left; */

	left: 2%;

	min-height: 400px;

	padding: 20px;
	width: 49%;
	margin-left: 2px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.two-block-content .block:hover {
	box-shadow: 16px 16px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.two-block-content .block .border {
	padding: 10px;

	border-right: solid;
	border-bottom: solid;
  	border-color: white;
  	border-width: 8px;

  	float: right;
}

.two-block-content .block .text {
	position: absolute;
	padding: 0;
}

.two-block-content .block .text h1 {
	color: #345182;

  	padding:8px;

  	text-align: right;
  	padding-right: 80px;

	margin: auto;

	font-size: 150%;

	width: 100%;
	
}

.two-block-content .block .text p {
	padding-left: 10px;
	padding-right: 70px;
}

.employee-profile {
	width: 100%;
	padding-left: 1.5%;
	background-color: white;
}

.employee-profile .block {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	background-color: white;

	display: inline-block;
	vertical-align: top;
/* 	float: left; */

	left: 2%;

	min-height: 510px;

	padding: 20px;
	padding-bottom: 10px;
	width: 49%;
	margin: 0;
	margin-bottom: 30px;
}

.employee-profile .block:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.employee-profile .employee {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	background-size: cover;
    background-position: center center;
	
	margin: auto;
	height: 200px;
	width: 200px;
	border-radius: 100px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.employee-profile .employee:hover {
	box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.employee-profile .block h1 {
	color: #4671D5;

	text-align: center;

	font-size: 170%;

	padding-top: 10px;
	padding-bottom: 15px;
	width: 100%;
}

.employee-profile .block h2 {
	color: grey;

	text-align: center;

	font-size: 120%;
	margin: auto;
	padding-bottom: 3px;
	width: 60%;

	border-bottom: solid;
}

.employee-profile .block p {
	width: 100%;
	text-align: justify;
	line-height: 115%;

	padding: 30px;
	padding-top: 0;
}

iframe {
	width: 100%;
	height: 972px;
	
	margin:0;
	padding:0;

	border-style:none;
}

.timeline {
	width: 100%;
	padding-bottom: 500px;

	background-color: white;
}

.timeline .line {
	width: 100%;
	position: absolute;
	border-bottom: solid;
}

.timeline ul {
  	display: table;
  	width: 100%;

	background-color: white;

	padding-left: 0;
	margin: 0;
}

.timeline ul li {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	display: table-cell;
	
	width: 30px;

	padding: 30px;

	text-align: center;
	font-size: 150%;
	color: grey;

	background-image: url(../images/about/TimelineLine1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

.timeline ul li:first-child {
	color: red;
	background-image: url(../images/about/TimelineLine2.png);
}

.timeline .two-block-content {
	visibility: hidden;

	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	padding: 30px;
	margin-left: 0.5%;
	width: 99%;

/* 	display: none; */

	position: absolute;

	border-style: solid;
	border-color: #345182;
	border-width: 5px;
	border-radius: 10px;
}

.banner-WOB-logo {
	z-index: -10;
}

.request-a-quote-button-two-block {
	float: left;
	margin:auto;
	padding-left: 10px;
	width: 50%;
}

.request-a-quote-button-two-block h2 {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	background-color: #4671D5;
	color: white;
	font-weight: normal;
	font-size: medium;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
}

.request-a-quote-button {
	margin:auto;
	padding-left: 10px;
	width: 50%;
}

.request-a-quote-button h2 {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	background-color: #4671D5;
	color: white;
	font-weight: normal;
	font-size: medium;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
}

.request-a-quote-button h2:hover {
	border-radius: 5px;
}

.request-quote-screen {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	background-color: transparent;
	z-index: 100;

	top: 0;
	left: 10000;

	position: fixed;
	margin: 0;
	padding: 50px;

	width: 100%;
}

.request-quote-screen .inner-screen {
	background-color: transparent;

	position: relative;
	margin: auto;

	border-radius: 20px;
	border-color: transparent;
}

.request-quote-screen .exit-button {
	position: absolute;

	padding: 10px;

	right: 0;
  	top:0;
  	margin-right: 70px;
  	margin-top: 63px;

  	font-size: xx-large;
}

.request-quote-screen .exit-button a {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	color: grey;
}

.request-quote-screen .exit-button a:hover {
	color: red;
}



/* Mobile Configurations */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	body {
		background-color: white;
	
    }

    div.preheader {
    	height: 50px;	
    }
    a.gplus {
    	display: none !important;
    }
    a.linkedin {
		display: none !important;
    }
    a.mail {
    	display: none !important;
    }
    div.preheader .row .logo li:first-child a {
    	height: 50px;
    }
    div.preheader .row .logo li a {
    	font-size: x-large;
    }
    div.preheader .row ul li a {
    	font-size: x-large;
    }
	.big-picture-banner {
		display: none;
	}
    .clear-banner-window {
    	display: none;
    }
    .banner-text {
    	display: none;
    }
    nav.primary-nav>ul>li>a {
    	font-size: 36px;
    	margin-right: 25px;
    }
    .arrow-icon {
    	display: none;
    }

    nav.primary-nav a.logo {
    	margin-left: 175px;
    	width: 500px;
    	height: 245px;
    }
    .heading-content p {
    	max-width: 990px !important;
    	padding: 25px;
    	margin: 0;
    }
    .heading-content ul {
    	margin: 0;
    	margin-left: 3%;
    	margin-right: 3%;
    	font-size: xx-large;
    }
    .section-3-picture-container {
    	width: 100%;
    }
    .request-a-quote-button h2 {
    	font-size: xx-large;
    }
    .section-3-picture-container h1 {
    	font-size: 85px;
    }
    .second-section a h3 {
    	width: 80%;
    	font-size: x-large;
    }
    .secondary-heading h1 {
    	font-size: 60px;
    	width: 100%;
    }
    .section-3-tetris-container {
    	width: 91%;
    }
    .tetris-image h2 {
    	font-size: 45px;
    }
    .footer {
    	font-size: x-large;
    }


    .main-heading .main-heading-overlay {
    	padding: 70px;
    }
    .main-heading h1 {
    	margin-top: 3%;
    	left: 25%;
    	width: 50%;
    }
    #mobile-service-heading-correction {
		display: block !important;
    }
    #mobile-service-heading {
    	display: block !important;
    }

    .request-a-quote form {
    	width: 700px;
    }

    .two-block-content .block {
    	min-width: 100%;
    	min-height: 300px;
    }
    .two-block-content .block .text {
    	position: relative;
    }
    .two-block-content .block .text h1 {
    	padding-right: 0;
    }
    .two-block-content .block .text p {
    	padding-right: 0;
    }

    .employee-profile .block {
    	display: block;
    	width: 100%;
    }
    .employee-profile .block h2 {
    	font-size: xx-large;
    }

    .image-fullscreen .inner-screen {
    	margin-top: 10px !important;
    }
    .image-fullscreen .exit-button {
    	margin-top: 68px !important;
    }

    .request-quote-screen .inner-screen {
    	margin-top: 10px;
    }

    .full-window-graphic .graphic .info {
    	position: relative !important;
    	width: 100% !important;
    	background-color: transparent !important;
    	z-index: -1 !important; 
    	font-size: x-large !important;
    }
    .request-a-quote-button-two-block h2 {
    	font-size: xx-large !important;
    }

    .content-tab-menu {
    	padding-bottom: 900px !important;
    }
    
    .request-a-quote-persistent {
		height: 1100px;
    }
}